html, body {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}


header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/piotr-cierkosz-aDJT4Oj-BhE-unsplash.jpg");
    background-size: cover;
    background-position: top left;
}

header p {
    color: white;
    max-width: 50rem;
}

header a {
    color: white; /* Change this to the color you want */
}

h1 {
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.scrollContainer {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    overflow: hidden;
    transition: background-image 2s;
}

.scrollText {
    margin: 50vh auto;
    max-width: 50rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}


.scrollElement {
    margin: 50vh auto;
    padding: 1rem;
    max-width: 50rem;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: inline-block;
}


.textSection {
    max-width: 50rem;
    margin: 0 auto;
    display: block;
    clear: both;
    border: 1px solid black;
    padding: 10px;
    flex: 1;
}
.alignRight {
    float: right;
    margin: 0 0 1rem 1rem;
}

.alignLeft {
    float: left;
    margin: 0 0 1rem 1rem;
}

#section img {
    width: 90%;
    height: auto; 
    display: block;
    margin: auto;
}

.imgProfile {
    width: 150px;
    height: auto; 
    display: block;
}

.img {
    width: 50%;
    height: auto; 
    display: block;
    margin: auto;
}


#hacksExplain {
    display: flex;
    align-items: center;
    /* other styles... */
}

#changingBg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hacksExplain {
    margin-top: auto;
    margin-bottom: auto;
}

#current {
    display: flex;
    flex-direction: column;
    align-items: center;
}